{
  "root": true,
  "extends": "@cordova/eslint-config/browser",
  "globals": {
    "cordova": "readonly"
  },
  "overrides": [
    {
      "files": ["tests/**/*.js", "bin/ensure-version"],
      "extends": "@cordova/eslint-config/node-tests"
    }
  ]
}
