<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="pushlink-cordova-plugin-tests"
        version="6.0.3-dev">
  <name>PushLink Cordova Plugin Tests</name>
  <license>Apache 2.0</license>
  <js-module src="tests.js" name="tests">
  </js-module>
</plugin>
